/* Universal styling */
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: lightgray;
    color: rgb(165, 67, 67);
}

/* Heading styles */

.jumbotron-fluid {
    background-image: url(images/webdesign.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    
}

h1,
.title {
    text-align: center;
   
}

h1 {
    padding-top: 8rem;
    font-weight: 700;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);

    animation: moveInLeft 3s;
}

.title {
    animation: moveInRight 3s;
}


/* Misc. styling */

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(198, 67, 67, 0.5);
}

a:visited {
    color: rgba(198, 67, 67, 0.5);
}

a:hover {
    cursor: pointer;
}

/* Nav bar styling */
.navbar {
    color: whitesmoke;
}


/* The introduction section */

.aboutMe {
    display: flex;
    flex-wrap: wrap;
}

.me {
    border-radius: 10px;
    width: 20%;
    height: 30%;
}

.intro {
    width: 75%;
    text-align: center;
    padding: 3rem 5rem ;
}

 h3 {
    text-align: center;
}

/* The Project Section */

h5 {
    font-weight: 700;
    color: black;
}

.project-text-2 {
    color: rgb(94, 94, 94);
}

/* The Footer Section */

.fab {
    font-size: 2rem;
}

/* Media queriers for smartphones like Google Nexus 5, iPhone, etc. */

@media screen and (max-width: 400px) {
    h1,
    h3,
    .title {
        text-align: center;
    }
    h1 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1rem;
    }

    .fab {
        font-size: 1.5rem;
    }

    footer p {
        font-size: 0.75rem;
    }

    .title {
        font-size: 0.8rem;
    }
    .me {
        order: 0;
        width: 80%;
        height: 100%;
    }
    .intro {
        order: 1;
        width: 100%;
        padding: 1rem 0;
        font-size: 0.8rem;
    }
}

/* Keyframe Animation properties */

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* Media queriers for tablets like iPads, etc. */

@media screen and (min-width: 361px) and (max-width: 906px) {
    h1, h3, .title {
        text-align: center;
    }

    h1 {
        font-size: 2.25rem
    }
    h3 {
        font-size: 1.5rem;
    }
    .title {
        font-size: 1.2rem;
    }

    .me {
        width: 40%;
        margin: 1rem auto;
    }

    .intro {
        padding: 1rem 0.3rem;
        margin: 1rem;
        width: 50%
    }
}

